<div class="div00">
  <div *ngIf="mostrar" class="div0">
    <div class="div1">
     <p> Nombre completo: Luis Daniel Becerra Ortis</p>
     <p> Dirección: Av Santa Vera Cruz Nro 69</p>
    </div>
    </div>
   
    <div class="btn">
     <button class="boton" (click)="mostrar = !mostrar">Mostrar/Ocultar</button>
   </div>   
</div>