/* .div1 {
  background-color: silver;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  border: 10px solid black;
  font-size: 20px;
  margin: 50px 200px;
}

.boton {
  background-color: silver;
  padding: 20px;
  font-size: 15px;
  border: 10px solid black;
  
}

 */
 .div00 {
   border: 6px solid black;
   float: left;
   width: 100%;
   height: 118px;
   background-color: rgb(148, 130, 130);
 }
 .boton{
   width: 120px;
   margin-top: 45px;
   text-align: center;
   border-radius: 5px;
   border: 3px solid black;
   background-color: silver;
 }
 .div0 {
   float: left;
   width: 40%;
   height: 112px;
   border: 3px solid black;
   background-color: silver;
 }

 .btn {
   width: 40%;
   float: right;
   height: 100%;
   text-align: center;
 }